@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.menu {
  width: 100%;
  height: 100vh;
  background-color: var.$black;

  @include mixin.flex(flex, false, space-between, column);

  &__left {
    @include mixin.on-mobile {
      margin-top: 130px;
      gap: 15px;

      @include mixin.flex(flex, center, center, column);
    }

    @include mixin.on-tablet {
      margin-top: 130px;
      gap: 15px;

      @include mixin.flex(flex, center, center, column);
    }

    @include mixin.on-tablet-2 {
      display: none;
    }

    @include mixin.on-desktop {
      display: none;
    }
  }

  &__right {
    @include mixin.on-mobile {
      @include mixin.flex(flex, center, center, row);

      margin-bottom: 20px;
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, center, center, row);

      margin-bottom: 20px;
    }

    @include mixin.on-tablet-2 {
      display: none;
    }

    @include mixin.on-desktop {
      display: none;
    }
  }

  &__item {
    position: relative;
    height: 38px;
    border-radius: 80px;
    padding: 8px 16px;
    background-color: transparent;
    cursor: pointer;
    color: var.$white;
    border: 0.5px solid var.$white;
    text-transform: uppercase;

    overflow: hidden;
    transition: all 0.5s ease;

    @include mixin.flex(flex, center, center, false);
    @include mixin.responsive-property(width, 300px, 300px, max-content, max-content);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 100%;
      background: var.$orange-red;
      transform: translateY(-50%);
      z-index: 0;
      transition: width 0.5s ease;
    }

    &:hover::before {
      width: 100%;
    }

    &--active {
      background: var.$orange-red;
    }
  }

  &__name {
    @include mixin.button-text-desktop-tablet;

    color: var.$white;
    text-transform: uppercase;
    z-index: 8;
  }

  &__img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    z-index: 5;
  }
}
