@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.navbar {
  width: 100%;

  @include mixin.flex(flex, false, space-between, row);

  &__left {
    @include mixin.on-mobile {
      display: none;
    }

    @include mixin.on-tablet {
      display: none;
    }

    @include mixin.on-tablet-2 {
      @include mixin.flex(flex, center, center, row);
    }

    @include mixin.on-desktop {
      @include mixin.flex(flex, center, center, row);
    }
  }

  &__right {
    @include mixin.flex(flex, center, center, row);
  }

  &__item {
    position: relative;
    width: max-content;
    height: 38px;
    border-radius: 80px;
    padding: 8px 16px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;

    overflow: hidden;
    transition: all 0.5s ease;

    @include mixin.flex(flex, center, center, false);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 100%;
      transform: translateY(-50%);
      z-index: 0;
      transition: width 0.5s ease;
    }

    &:hover::before {
      width: 100%;
    }

    &--dark-bg {
      border: solid 0.5px var.$white;
      background-color: transparent;
      color: var.$white;

      &--active {
        background: var.$orange-red;
        color: var.$white;
      }

      &:hover {
        background-color: var.$white;
        color: var.$black;
      }
    }

    &--light-bg {
      border: solid 0.5px var.$black;
      background-color: transparent;
      color: var.$black;

      &--active {
        background: var.$yellow-green;
        color: var.$black;
      }

      &:hover {
        background-color: var.$black;
        color: var.$white;
      }
    }
  }

  &__name {
    @include mixin.button-text-desktop-tablet;

    text-transform: uppercase;
    z-index: 10;
    transition: color 0.3s;
  }
}
