@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    width: max-content;
    font-family: Poppins;
    text-align: left;
    color: var.$white;
    line-height: 33.6px;
    text-transform: uppercase;
    transition: transform 0.5s;

    @include mixin.responsive-property(font-size, 20px, 22px, 22px, 24px);
    @include mixin.responsive-property(font-weight, 800, 900, 900, 900);

    &:hover {
      transform: scale(1.1);
    }

    &--home-ai {
      @include mixin.on-mobile {
        color: var.$white;
      }

      @include mixin.on-desktop {
        color: var.$black;
      }
    }

    &--sign-up {
      @include mixin.on-mobile {
        color: var.$white;
      }

      @include mixin.on-desktop {
        color: var.$black;
      }
    }
  }
}
