@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.transparent-input {
  position: relative;
  background-color: transparent;
  color: var.$white;
  height: 44px;
  width: 100%;
  padding: 10px;
  margin-left: 40px;
  z-index: 20;
  cursor: pointer;
}

.error-block {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.error {
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  @include mixin.h4-desktop-tablet;
  margin-top: 100px;
  color: var.$error;
}

.error-button {
  width: 110px;
  height: 44px;
  border-radius: 20px;
  background-color: var.$light-gray;
  color: var.$error;
  text-transform: uppercase;
}

.loading {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.event-details {
  width: 100%;
  height: 100vh;

  @keyframes slideUp {
    0% {
      height: 100vh;
    }
    100% {
      height: 300px;
    }
  }

  @keyframes slideUpTablet {
    0% {
      height: 100vh;
    }
    100% {
      height: 280px;
    }
  }

  @keyframes slideUpMinTablet {
    0% {
      height: 100vh;
    }
    100% {
      height: 230px;
    }
  }

  &__content-top {
    position: relative;
    z-index: 12;
    color: var.$light-gray;
    @include mixin.sizes(100%, 100vh);
    @include mixin.flex(flex, false, space-between, column);

    @include mixin.on-mobile {
      position: sticky;
      top: 0;
      min-height: 340px;
      padding: 86px 20px 24px;
      animation: slideUpMinTablet 0.5s ease-in-out 4s forwards;

      &--scrolled {
        min-height: 230px;
      }
    }

    @include mixin.on-tablet {
      position: sticky;
      top: 0;
      height: 340px;
      padding: 86px 20px 24px;
      animation: slideUpMinTablet 0.5s ease-in-out 4s forwards;

      &--scrolled {
        height: 230px;
      }
    }

    @include mixin.on-tablet-2 {
      position: sticky;
      top: 0;
      width: 100%;
      height: 280px;
      padding: 86px 24px 20px;
      animation: slideUpTablet 0.5s ease-in-out 4s forwards;

      &--scrolled {
        height: 280px;
      }
    }

    @include mixin.on-desktop {
      padding: 86px 24px 20px;
      animation: slideUp 0.5s ease-in-out 4s forwards;
    }
  }

  &__block-back {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    width: 22px;
    height: 22px;
  }

  &__back {
    @include mixin.button-text-desktop-tablet;
    text-transform: uppercase;
    color: var.$white;
    margin-left: 8px;
  }

  &__block-names {
    display: flex;
    flex-direction: column;
  }

  &__content-bottom {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;

    @include mixin.on-mobile {
      @include mixin.flex(flex, false, false, column);
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, false, false, column);
    }

    @include mixin.on-tablet-2 {
      @include mixin.flex(flex, false, false, column);
    }

    @include mixin.on-desktop {
      @include mixin.flex(flex, false, false, row);
    }
  }

  &__main-title {
    position: relative;
    z-index: 2;
    @include mixin.h2-desktop-tablet;
    text-align-last: left;
    color: var.$white;
    margin-bottom: 20px;
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    @include mixin.small-text-desktop-tablet;
    text-align: left;
    color: var.$light-gray;
    margin-bottom: 20px;
  }

  &__buttons {
    position: relative;
    z-index: 2;
    width: 100%;

    @include mixin.on-mobile {
      @include mixin.flex(flex, center, false, column);
      margin-bottom: 10px;
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, center, false, column);
      margin-bottom: 10px;
    }

    @include mixin.on-tablet-2 {
      @include mixin.flex(flex, start, false, row);
      margin-bottom: 0;
    }

    @include mixin.on-desktop {
      @include mixin.flex(flex, start, false, row);
      margin-bottom: 0;
    }
  }

  &__button-pr {
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$white;
    color: var.$black;
    border: 0.5px solid var.$black;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    @include mixin.on-mobile {
      width: 100%;
    }

    @include mixin.on-tablet {
      width: 100%;
    }

    @include mixin.on-tablet-2 {
      width: 285px;
    }

    @include mixin.on-desktop {
      width: 285px;
    }

    &:hover {
      background-color: var.$light-gray;
      color: var.$black;
    }
  }

  &__button-sec {
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: var.$white;
    border: 0.5px solid var.$white;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    @include mixin.on-mobile {
      width: 100%;
    }

    @include mixin.on-tablet {
      width: 100%;
    }

    @include mixin.on-tablet-2 {
      width: 285px;
    }

    @include mixin.on-desktop {
      width: 285px;
    }

    &:hover {
      background-color: var.$dark-gray;
      color: var.$white;
    }
  }

  &__shell {
    @include mixin.on-mobile {
      @include mixin.flex(flex, center, space-between, column);
      opacity: 1;
      transition: opacity 0.3s ease;

      &--scrolled {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, center, space-between, column);
      opacity: 1;
      transition: opacity 0.3s ease;

      &--scrolled {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

    @include mixin.on-tablet-2 {
      opacity: 1;
      @include mixin.flex(flex, center, space-between, row);
    }

    @include mixin.on-desktop {
      opacity: 1;
      @include mixin.flex(flex, center, space-between, row);
    }
  }

  &__block-report {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }

  &__report {
    @include mixin.button-text-desktop-tablet;
    text-transform: uppercase;
    color: var.$white;
    margin-left: 8px;
  }

  &__block-left {
    background-color: var.$white;

    @include mixin.on-mobile {
      @include mixin.sizes(100%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 20px;
    }

    @include mixin.on-tablet {
      @include mixin.sizes(100%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 24px;
    }

    @include mixin.on-tablet-2 {
      @include mixin.sizes(100%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 24px;
    }

    @include mixin.on-desktop {
      @include mixin.sizes(60%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 24px;
    }
  }

  &__block-right {
    background-color: var.$black;

    @include mixin.on-mobile {
      @include mixin.sizes(100%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 20px;
    }

    @include mixin.on-tablet {
      @include mixin.sizes(100%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 24px;
    }

    @include mixin.on-tablet-2 {
      @include mixin.sizes(100%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 24px;
    }

    @include mixin.on-desktop {
      @include mixin.sizes(40%, 100%);
      @include mixin.flex(flex, false, space-between, column);
      padding: 24px;
    }
  }

  &__block-participants {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  &__participants-info {
    margin-left: 25%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__participants-text {
    @include mixin.body-text-desktop-tablet;
    color: var.$dark-gray;
    text-transform: uppercase;
  }

  &__participants {
    height: 44px;
    display: flex;
    position: relative;
  }

  &__participant {
    width: 40px;
    height: 40px;
    background-color: var.$dark-gray;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 25px;
    }

    &:nth-child(3) {
      left: 50px;
    }

    &:nth-child(4) {
      left: 75px;
    }

    &:nth-child(5) {
      left: 100px;
    }

    &:nth-child(6) {
      left: 125px;
    }
  }

  &__participant-span {
    color: var.$light-gray;
  }

  &__donate-block {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 44px;
    gap: 10%;
  }

  &__donate-text {
    @include mixin.body-text-desktop-tablet;
    color: var.$dark-gray;
    text-transform: uppercase;
  }

  &__description {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__text-description {
    @include mixin.body-text-desktop-tablet;
    color: var.$dark-gray;
    text-align: justify;
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  &__title-details {
    @include mixin.h3-desktop-tablet;
    text-align: left;
    color: var.$black;
    margin-bottom: 10px;
  }

  &__name {
    @include mixin.body-text-desktop-tablet;
    font-weight: 500;
    color: var.$dark-gray;
  }

  &__value {
    @include mixin.body-text-desktop-tablet;
    font-weight: 400;
    color: var.$dark-gray;
  }

  &__organizer-block {
    width: 100%;

    @include mixin.on-mobile {
      @include mixin.flex(flex, center, space-between, column);
      gap: 10px;
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, false, space-between, row);
    }

    @include mixin.on-tablet-2 {
      @include mixin.flex(flex, false, space-between, row);
    }

    @include mixin.on-desktop {
      @include mixin.flex(flex, false, space-between, row);
    }
  }

  &__organizer-details {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include mixin.on-mobile {
      @include mixin.flex(flex, center, center, column);
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, center, center, column);
    }

    @include mixin.on-tablet-2 {
      @include mixin.flex(flex, center, center, column);
    }

    @include mixin.on-desktop {
      @include mixin.flex(flex, false, false, column);
    }
  }

  &__organizer-title {
    @include mixin.small-text-desktop-tablet;
    color: var.$light-gray;
  }

  &__img-container {
    @include mixin.sizes(200px, 200px);

    @include mixin.on-tablet-2 {
      margin-left: 120px;
    }

    @include mixin.on-desktop {
      margin-left: 0;
    }
  }

  &__organizer-logo {
    @include mixin.sizes(100%, 100%);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    @include mixin.small-text-desktop-tablet;
    color: var.$light-gray;
  }

  &__organizer-name {
    @include mixin.h3-desktop-tablet;
    color: var.$light-gray;
    margin-bottom: 20px;
  }

  &__organizer-phone {
    @include mixin.body-text-desktop-tablet;
    color: var.$light-gray;
  }

  &__organizer-email {
    @include mixin.body-text-desktop-tablet;
    color: var.$light-gray;
  }

  &__organizer-link {
    @include mixin.body-text-desktop-tablet;
    color: var.$light-gray;
  }

  &__organizer-buttons {
    width: 100%;

    @include mixin.on-mobile {
      @include mixin.flex(flex, false, false, column);
      margin-top: 15px;
    }

    @include mixin.on-tablet {
      @include mixin.flex(flex, false, false, column);
      margin-top: 15px;
    }

    @include mixin.on-tablet-2 {
      @include mixin.flex(flex, false, false, row);
      margin-top: 15px;
    }

    @include mixin.on-desktop {
      @include mixin.flex(flex, false, false, row);
      margin-top: 0;
    }
  }

  &__organizer-button {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$white;
    color: var.$black;
    border: 0.5px solid var.$black;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    &:hover {
      background-color: var.$light-gray;
      color: var.$black;
    }
  }

  &__part-title {
    color: var.$light-gray;
    @include mixin.body-text-desktop-tablet;
    text-align: center;
  }

  &__part-input {
    width: 100%;
    height: 44px;
    margin-bottom: 5px;
    color: var.$white;

    &:placeholder-shown {
      color: var.$grey;
      @include mixin.button-text-desktop-tablet;
    }
  }

  &__part-error {
    color: var.$error;
    @include mixin.small-text-desktop-tablet;
  }

  &__part-line {
    width: 100%;
    height: 1px;
    background-color: var.$light-gray;
  }

  &__part-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__part-send {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$grey;
    color: var.$black;
    border: 0.5px solid var.$black;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    &:hover {
      background-color: var.$light-gray;
      color: var.$black;
    }
  }

  &__part-cancel {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$black;
    color: var.$white;
    border: 0.5px solid var.$white;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    &:hover {
      background-color: var.$dark-gray;
      color: var.$white;
    }
  }

  &__success {
    width: 100%;
    color: var.$success;
    @include mixin.button-text-desktop-tablet;
  }

  &__error {
    width: 100%;
    color: var.$error;
    @include mixin.button-text-desktop-tablet;
  }
}
