:root {
  --black: #000;
  --light-gray: #ccc;
}

:global {
  .react-tel-input {
    .form-control {
      z-index: 12;
      width: 100%;
      background-color: white;
      color: var(--light-gray);
      padding: 10px;
    }

    .flag-dropdown {
      width: 44px;
      height: 44px;
      background-color: transparent;
      color: var(--light-gray);
    }

    .country-list {
      background-color: var(--light-gray);
      color: var(--white);
      border: 1px solid var(--light-gray);

      .country {
        &:hover {
          background-color: var(--dark-gray);
        }
      }
    }
  }
}
