@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.custom-file-label {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  width: 70%;
  height: 100%;
  background-color: var.$black;
  color: var.$grey;
  cursor: pointer;
  z-index: 10;
}

[data-has-file="true"] + .custom-file-label {
  color: var.$white;
}

.transparent-input {
  background-color: transparent;
  color: var.$white;
  height: 44px;
  width: 100%;
  padding: 10px;
  margin-left: 40px;
}

.one {
  width: 100%;
  height: 100vh;

  &__nav {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("../../images/wallpaper/profile_opport_bg.jpg");

    @include mixin.on-desktop {
      flex-direction: row;
      justify-content: flex-end;
      background-size: cover;
      background-position: left;
    }
  }

  &__right-side {
    @include mixin.on-desktop {
      margin-top: 86px;
      padding: 0 24px 24px;
      @include mixin.flex(flex, false, space-between, column);
      width: 53%;
    }
  }

  &__left-side {
    background-color: var.$black;
    z-index: 10;

    @include mixin.on-desktop {
      @include mixin.flex(flex, false, space-between, column);
      padding: 40px;
      border-radius: 20px 0 0 20px;
      height: 100vh;
      width: 47%;
    }
  }

  &__bllock-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__back {
    @include mixin.button-text-desktop-tablet;
    text-transform: uppercase;
    color: var.$black;
    margin-left: 8px;
  }

  &__title {
    @include mixin.h1-desktop-tablet;
    color: var.$black;
    text-align: left;
  }

  &__subtitle {
    @include mixin.h3-desktop-tablet;
    color: var.$dark-gray;
    text-align: left;
  }

  &__content {
    margin-top: 100px;
    @include mixin.body-text-desktop-tablet;
    color: var.$light-gray;
    text-align: justify;
  }

  &__remark {
    width: 100%;
    text-align: left;
    @include mixin.small-text-desktop-tablet;
    color: var.$grey;
  }

  &__select {
    color: var.$grey;

    &--chosen {
      color: var.$white;
    }
  }

  &__dropdown-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__dropdown-checkbox {
    margin-right: 8px;
    margin-left: 4px;
    background-color: var.$grey;
  }

  &__uploaded-photo {
    margin-top: 2px;
    width: 42px;
    height: 42px;
  }

  &__uploaded-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__input {
    width: 100%;
    height: 44px;
    color: var.$white;

    &:placeholder-shown {
      @include mixin.body-text-desktop-tablet;
      color: var.$light-gray;
    }
  }

  &__input-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: var.$light-gray;

    &--upload {
      width: 98%;
      height: 1px;
      background-color: var.$light-gray;
    }
  }

  &__line--upload-photo {
    width: 100%;
    height: 1px;
    background-color: var.$light-gray;
  }

  &__input-shell {
    position: relative;
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button-upload {
    width: 180px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$white;
    color: var.$black;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 2px;

    @include mixin.flex(flex, center, center, false);

    &:hover {
      background-color: var.$light-gray;
      color: var.$black;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  &__button-cancel {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$black;
    color: var.$white;
    border: 0.5px solid var.$white;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    &:hover {
      background-color: var.$dark-gray;
      color: var.$white;
    }
  }

  &__button-continue {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    background-color: var.$grey;
    color: var.$black;
    border: 0.5px solid var.$black;
    border-radius: 12px;
    cursor: pointer;

    @include mixin.flex(flex, center, center, false);

    &:hover {
      background-color: var.$light-gray;
      color: var.$black;
    }
  }

  &__dropdown-shell {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__dropdown {
    position: relative;
    color: var.$grey;
    width: 100%;
    text-align: left;
  }

  &__dropdown-img-container {
    width: 16px;
    height: 16px;
  }

  &__dropdown-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 15;
  }

  &__dropdown-list {
    width: 120px;
    position: absolute;
    border: 1px solid var.$light-gray;
    margin-top: 4px;
    background-color: var.$dark-gray;
    z-index: 15;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__dropdown-item {
    @include mixin.body-text-desktop-tablet;
    height: 44px;
    color: var.$light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--active {
      color: var.$white;
    }
  }
}
