@use "./utils/mixins" as mixin;
@use "./utils/variables" as var;
@use "./utils/normalize.scss";

.app {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  color: var.$black;
  scroll-behavior: smooth;

  &__container {
    position: relative;
    @include mixin.flex(flex, false, false, column);
  }

  &__main {
    width: 100%;
    flex: 1;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 13;
    transition: background 0.3s;

    @include mixin.on-mobile {
      height: 70px;
    }

    @include mixin.on-tablet {
      height: 86px;
    }

    @include mixin.on-desktop {
      height: 86px;
    }
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: transparent;

    @include mixin.on-mobile {
      padding: 16px;
    }

    @include mixin.on-tablet {
      padding: 24px;
    }

    @include mixin.on-desktop {
      padding: 24px;
    }

    &--explore,
    &--volunt,
    &--wishes,
    &--donate {
      background-color: var.$black;
    }

    &--about {
      @include mixin.on-mobile {
        background-color: var.$black;
      }

      @include mixin.on-tablet {
        background-color: transparent;
      }

      @include mixin.on-tablet-2 {
        background-color: transparent;
      }

      @include mixin.on-desktop {
        background-color: transparent;
      }
    }

    &--faq {
      @include mixin.on-mobile {
        background-color: var.$black;
      }

      @include mixin.on-tablet {
        background-color: var.$black;
      }

      @include mixin.on-tablet-2 {
        background-color: var.$black;
      }

      @include mixin.on-desktop {
        background-color: var.$black;
      }
    }

    &--home {
      @include mixin.on-mobile {
        background-color: var.$black;
      }

      @include mixin.on-tablet {
        background-color: var.$black;
      }

      @include mixin.on-tablet-2 {
        background-color: transparent;
      }

      @include mixin.on-desktop {
        background-color: transparent;
      }
    }

    &--opport {
      background-color: transparent;
      height: 86px;
    }
  }
}
