@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: var.$dark-gray;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &__filled {
    height: 100%;
    background: var.$yellow-green;
    transition: width 0.3s ease-in-out;
    margin-bottom: 5px;
  }

  &__text {
    color: var.$black;
    @include mixin.small-text-desktop-tablet;
  }
}
